/* Calendar */

.calendar table, .calendar th, .calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th, .calendar tr, .calendar td {
  padding: 12px;
}

.calendar td.header {
  font-weight: 500;
}

.calendar tr.monday {
  background-color: #e6e8f2;
}

.calendar tr.wednesday {
  background-color: #f2f4f8;
}

.ul{text-align: center;
     }


h1 {
    padding-left: 0px;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
      font-family: 'Roboto';font-size: 14px;

  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  font-family: 'Roboto';font-size: 18px;
  background-color: white;
}

/* Style the top navigation bar */
.navbar {
  font-family: 'Roboto';font-size: 18px;
  display: flex;
  background-color: #F8F8FF;
  text-align: center;
  color: black;
 
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  font-family: 'Roboto';font-size: 18px;  
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}




/* Change color on hover */
.navbar a:hover {
  background-color: #DCDCDC;
  color: black;
}



/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 20%;
  background-color: white;
  padding: 20px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: white;
  padding: 30px;
}

/* Main column */
.main {
  flex: 60%;
  background-color: white;
  padding: 40px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 30px;
    text-align: center;
   background-color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 200px) {
  .row, .navbar {   
    flex-direction: column;
}
  
}




